body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(32, 32, 32);
}
.card {
  background-color: rgb(66, 66, 66);
  width: 350px;
  padding: 24px;
}
h2 {
  color: aliceblue;
  text-align: center;
}
form {
  display: flex;
  flex-direction: column;
}
input {
  padding: 8px;
  margin-bottom: 12px;
  border-radius: 8px;
}
button {
  padding: 8px;
  background-color: rgb(95, 244, 244);
  border: none;
  border-radius: 8px;
}
button:hover {
  background-color: rgb(116, 255, 255);
}
