body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
}
.nav-container {
  /* background-color: #f4f4f4; */
  padding: 4px;
  /* justify-content: space-around; */
  margin-bottom: 50px;
}

.nav1 {
  display: flex;
  justify-content: space-around;
  background-color: #393939;
  padding: 25px;
}

.nav1 li {
  list-style: none;
}

.nav1 li a {
  text-decoration: none;
  color: white;
  position: relative;
  /* margin-bottom: 2px; */
}

.nav1 li a::after {
  /* margin-top: 20px; */
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: blue;
  left: 0;
  /* bottom: 0; */
  bottom: -8px;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.nav1 a:hover::after {
  transform: scaleX(1);
  /* background-color: red; */
}

.nav1 .login-btn {
  background-color: rgb(21, 189, 245);
  padding: 5px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.nav1 .login-btn:hover {
  background-color: rgb(23, 197, 255);
}

.nav2 {
  background-color: rgb(255, 247, 247);
  width: 100px;
  padding: 20px;
  /* font-size: 16px; */
}

.nav2 li {
  list-style: none;
  margin-bottom: 20px;
  /* background-color: red; */
  /* padding: 0; */
  /* margin: 0; */
  /* padding: 5px 10px; */
  /* border-color: red; */
  /* border-bottom: 0.005px dotted rgb(68, 68, 68); */
}

.nav2 li:not(:last-child) {
  padding: 5px 10px;
  /* background-color: purple; */
}

.nav2 li:not(:last-child):hover {
  background-color: bisque;
}

.nav2 li a {
  text-decoration: none;
  color: black;
  padding: 5px 10px;
  /* background-color: rebeccapurple; */
  width: 100%;
  /* background-color: red; */
}

.nav2 .login-btn {
  padding: 5px 10px;
  width: 100%;
  border: none;
  background-color: bisque;
  border-bottom: none;
  cursor: pointer;
  font-size: 16px;
}
