body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
}
.nav-container {
  background-color: #393939;
  padding: 4px;
  /* justify-content: space-around; */
}

.nav1 {
  display: flex;
  justify-content: space-around;
}

.nav1 li {
  list-style: none;
}

.nav1 li a {
  text-decoration: none;
  color: white;
  position: relative;
  /* margin-bottom: 2px; */
}

.nav1 li a::after {
  /* margin-top: 20px; */
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: blue;
  left: 0;
  /* bottom: 0; */
  bottom: -8px;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.nav1 a:hover::after {
  transform: scaleX(1);
  /* background-color: red; */
}

.nav1 .login-btn {
  background-color: rgb(21, 189, 245);
  padding: 5px 15px;
  border: none;
  border-radius: 5px;
}
